$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cBgSilver: rgba(192, 192, 192, 0.7);
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 50px;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
